*.bak
*.gen.*
*.lock
*.rbxl
*.rbxlx
*.rbxm
*.rbxmx
.claude
.DS_Store
.env
.local
.mcp.json
.vscode
__VERSION__.luau
_build_entry.luau
aftman.toml
Build
DevPackages
Packages
sourcemap.json
/TODO.md
Tools
